<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-customers"><%= link_to "Customers", casein_customers_path %></li>
<li id="tab-contacts"><%= link_to "Contacts", casein_contacts_path %></li>
<li id="tab-abouts"><%= link_to "Abouts", casein_abouts_path %></li>